<%include file="head.html"/>	

                        <div id="main" style="width: 770px">

                                <a name="BaseImages"></a>
                                <h1>Login</h1>
                                <div class="container" style="text-align: center">
                                                    An error has occured. The error has been logged.<br />
                                                    If you are not redirected to the main page, click <a href="/">Here</a>
                                </div>
                        </div>


<%include file="foot.html"/>

<meta http-equiv="refresh" content="10;URL=/">
