<%include file="head.html"/>
	  
	  		<div id="main" style="width: 770px"> 
                         <style> </style>
	
				<a name="BaseImages"></a>
				<h1>End Session</h1>
                                   <div style="width: 100%; text-align: center;"><div><b>Add User</b><br><form style="margin: 0; border: 0; padding: 0;" action="/commituser" method="POST">Username: <input style="width: 256px;" type="text" name="username" id="username"><br>Password: <input style="width: 256px;" type="password" name="password" id="password"><br>Comment: <input style="width: 256px;" type="text" name="comment" id="comment"><br><input type="checkbox" name="admin" value="true">Is Admin<br><input type="submit" style="font-size: 27px; border: 1px solid #000; padding: 4px;" value="SAVE"></form></div></div>
	  		</div> 	
			  
<%include file="foot.html"/>

