<%include file="head.html"/>
	  
	  		<div id="main" style="width: 770px"> 
                         <style> </style>
	
				<a name="BaseImages"></a>
				<h1>End Session</h1>
                                   <div style="width: 100%; text-align: center;"><div><b>Add User</b><br><form style="margin: 0; border: 0; padding: 0;" action="/commitchangepassword" method="POST">Old Password: <input style="width: 256px;" type="password" name="oldpassword" id="oldpassword"><br>New Password: <input style="width: 256px;" type="password" name="newpassword" id="newpassword"><br><input type="submit" style="font-size: 27px; border: 1px solid #000; padding: 4px;" value="SAVE"></form></div></div>
	  		</div> 	
			  
<%include file="foot.html"/>

