<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<title>DockerLab</title>

<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link rel="icon" type="image/png" href="/static/images/favicon.gif">
<link rel="stylesheet" type="text/css" media="screen" href="/static/images/dockerlab.css" />

</head>

<body>
<!-- wrap starts here -->	
<div id="wrap">

		<div id="header">
		
			<h1 id="logo-text">docker<span class="gray">lab</span></h1>			
			<h2 id="slogan">containerized desktop infrastructure</h2>	
					
			<!--div id="header-tabs">
				<ul>
					<li id="current"><a href="index.html"><span>Home</span></a></li>
					<li><a href="index.html"><span>Archives</span></a></li>
					<li><a href="index.html"><span>Downloads</span></a></li>
					<li><a href="index.html"><span>Services</span></a></li>
					<li><a href="index.html"><span>Support</span></a></li>
					<li><a href="index.html"><span>About</span></a></li>			
				</ul>
			</div-->				
			
		</div>
	  
	  <!-- content-wrap starts here -->
	  <div id="content-wrap">
