<%include file="head.html"/>
	  
	  		<div id="main" style="width: 770px"> 
                         <style> </style>
	
				<a name="BaseImages"></a>
				<h1>End Session</h1>
                                   <div style="width: 100%; text-align: center;"><div><b>Name & Description</b><br><form style="margin: 0; border: 0; padding: 0;" action="/save" method="POST"><input type="hidden" value="${port}" name="pubport"><input style="width: 256px;" type="text" name="name" id="name" value="${name}"><br><textarea style="width: 256px; display: inline-block;" name="desc" id="desc">${desc}</textarea><br><input type="submit" style="font-size: 27px; border: 1px solid #000; padding: 4px;" value="SAVE"></form></div></div>
	  		</div> 	
			  
<%include file="foot.html"/>

